#browse-main-container {
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 249px);
    margin-left: -5px;
    border-left: 1px;

    border-left-style: solid;
    border-color: #e7e7e7;
}

#browse-main-container > .row {
    margin: 10px 0;
}

#browse-sidebar-container {
    display: inline-block;
    box-sizing: border-box;
    width: 250px;
    padding: 25px 15px;
    border-width: 0 1px 0 0;

    border-style: solid;
    border-color: #e7e7e7;

    text-align: center;
}

#browse-sidebar-container .btn {
    width: 76px;
    margin: 0 4px;
}

.panel-container {
    padding: 5px;
}

.panel .panel-img {
    width: 100%;
}

.filter-container {
    text-align: left;
}

.copyright-divider {
    margin-top: 0;
}