#browse-main-container {
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 249px);
    margin-bottom: 0;
    margin-left: -5px;
    border-left: 1px;

    border-left-style: solid;
    border-color: #e7e7e7;
}

#browse-main-container > .row {
    margin: 0;
    border-width: 0 0 1px 0;
    border-radius: 0;
}

#browse-main-container > .row:last-child {
    border-width: 0;
}

#browse-sidebar-container {
    display: inline-block;
    box-sizing: border-box;
    width: 250px;
    padding: 25px 15px;
    border-width: 0 1px 0 0;

    border-style: solid;
    border-color: #e7e7e7;

    text-align: center;
}

#browse-sidebar-container .btn {
    width: 76px;
    margin: 0 4px;
}

.part-name-header {
    margin: 4px 0;
}

.part-category-label {
    margin: 2px 0 10px 8px;
}

.part-image {
    width: 100%;
}

.part-quantity-input {
    padding-right: 0;
}

.add-to-cart-container {
    margin-top: 10px;
}

.filter-container {
    text-align: left;
}

.copyright-divider {
    margin-top: 0;
}