@media (min-width: 768px) {
    .order-summary-container {
        position: fixed;
        right: 0;
    }
}

#shipping-instruction-input {
    max-width: 100%;
}

#checkout-btn {
    float: right;
    margin: 18px 0 4px 0;
}

.order-footer-cell-label {
    text-align: right;
    font-weight: 700;
}